{{homeViewOpened()}}
<link rel="stylesheet" type="text/css" href="styles/viewHomeStyle.css">
<div id="songList">

</div>
<div id="actualSongInfo">
    <img data-ng-class="varDefaultImage" src="./resources/player/defaultMusicIcon.png">
    <img data-ng-class="varCoverArtImage" src="data:image/png;base64,{{coverArt}}"><br />
    {{songTitle}}<br />    
    {{songInterpret}}<br />    
    {{albumTitle}}<br />    
    {{albumInterpret}}<br />
    <br /><br />
</div>
<div id="playerControl">
    <ul>
        <li><a data-ng-click="shuffleClicked()"><img alt="Shuffle" src="./resources/player/shuffleIcon.png"></a></li>
        <li><a data-ng-click="rewindClicked()"><img alt="Rewind" src="./resources/player/rewindIcon.png"></a></li>
        <li><a data-ng-click="playPauseClicked()"><img alt="Play/Pause" src="./resources/player/playPauseIcon.png"></a></li> 
        <li><a data-ng-click="forwardClicked()"><img alt="Forward" src="./resources/player/forwardIcon.png"></a></li>
        <li><a data-ng-click="stopClicked()"><img alt="Stop" src="./resources/player/stopIcon.png"></a></li>
        <li><input id="sliderVolume" data-ng-model="inputData.sliderVol" data-ng-change="onVolumeSliderChanged()" type="range" min="0" max="100" step="1"></li>
    </ul>
</div>