<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="de" data-ng-app="mainApp">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="styles/stylesheet.css">
    <link rel="icon" href="resources/playerIcon.png">
    <script src="scripts/angular/angular.js"></script>
    <script src="scripts/angular/angular-route.js"></script>
    <script src="scripts/main.js"></script>
    <title>Ultra Velociraptor</title>
  </head>
  <body data-ng-controller="NavigationController">
    <div id="navigation">
      <ul>
        <li> <h2>ArkEcho</h2></li><li> &nbsp; </li>
        <li> <img src="resources/playerIcon.png" alt="Logo"></li><li> &nbsp; &nbsp;</li>
        <li> <a data-ng-class="varHomeLinkClass" href="#!"><img alt="Home" src="resources/iconHome.png"></a></li><li> &nbsp; </li>
        <li> <a data-ng-class="varContactLinkClass" href="#!contact"><img alt="Contact" src="resources/iconMail.png"></a></li><li> &nbsp; </li>
        <li> <a data-ng-class="varAboutLinkClass" href="#!about"><img alt="About" src="resources/iconHelp.png"></a></li>
      </ul>
    </div>
    <div id="sidebar">
      <ul>
        <li><button data-ng-click="">Title1 - Interpret1</button></li>
        <li><button data-ng-click="">Title2 - Interpret2</button></li>
        <li><button data-ng-click="">Title3 - Interpret3</button></li>
      </ul>
    </div>
    <div id="content">
      <div data-ng-view=""></div>
    </div>
  </body>
</html>
