{{homeViewOpened()}}
<link rel="stylesheet" type="text/css" href="styles/viewHomeStyle.css">
<div id="actualSongInfo">
    Titel:{{songTitle}}<br />    
    Interpret:{{songInterpret}}<br />    
    Album:{{albumTitle}}<br />    
    Album-Interpret:{{albumInterpret}}<br />
    Cover Art: <br />
    <img data-ng-class="varDefaultImage" src="./resources/player/defaultMusicIcon.png">
    <img data-ng-class="varCoverArtImage" src="data:image/png;base64,{{coverArt}}"><br /><br /><br />
</div>
<div id="playerControl">
    <ul>
        <li><a data-ng-click="rewindClicked()"><img alt="Rewind" src="./resources/player/rewindIcon.png"></a></li>
        <li><a data-ng-click="playPauseClicked()"><img alt="Play/Pause" src="./resources/player/playPauseIcon.png"></a></li> 
        <li><a data-ng-click="forwardClicked()"><img alt="Forward" src="./resources/player/forwardIcon.png"></a></li>
    </ul>
</div>