*{
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Arial;
  text-align: center;
  color: #eff0f1;
  background-color: #313636;
  overflow-y: scroll;
}

#left{
  position: absolute;
  left: 10px;
  top: 60px;
  width: 100px;
}

#right{
  position: absolute;
  right: 10px;
  top: 60px;
  width: 100px;
}

#content{
  position: absolute;
  left: 120px;
  right: 120px;
  margin-top: 40px;
  padding: 20px;
}

#navigation{
  background-color: #242828; /* NOTE: Farbe der Navigation Bar */
  width: 100%; /* NOTE: Ganze Breite der Seite */
  height: 48px; /* NOTE: Abhängig von grösse des Textes der li's */
  position: fixed;
  top: 0;
  z-index: 1;
}

#navigation ul{
  display: inline-block; /* NOTE: Zum zentrieren der li's */
  list-style-type: none; /* NOTE: Kein Aufzählungszeichen */
  overflow: hidden;
}

#navigation li{
  float: left; /* NOTE: li's horizontal anordnen */
}

#navigation li img{
  height: 48px;
}

#navigation li a {
  display: block;
  color: #eff0f1;
  text-align: center;
  width: 60px;
  padding: 14px 16px;
  text-decoration: none; /* NOTE: Keine Hyperlink hilighting */
}

#navigation li a:hover:not(.navigationActive){
  background-color: #3daee9;
}

.navigationActive{
  background-color: #4caf50;
}

/*
button{
  color: #eff0f1;
  border-radius: 4px;
}
.buttonActionBar{
  background-color: green;
  border: 2px solid green;
  transition-duration: 0.4s;
  font-size: 20px;
  padding: 10px 30px;
}
.buttonActionBar:hover {
  background-color: red;
}
*/
